// COLOR FORMAT
$basic-color: #333;

// element
$del-color: #aaa;

$mark-bg: #ffdead;
$mark-color: #f60;

$code-bg: #e1d7d1;
$code-color: #c7254e;

$strong-color: #ff4343;

//nav
$nav-bg: #232323;
$nav-color: #909090;

// LAYOUT
$title-height: 20%;

$content-height: 80%;
$content-width: 80%;

$nav-width: 22rem * .2;

// FLEX LEVEL
$paragraph-flex: 1;
$figure-flex: 5;

// CONTROL BUTTONS
$button-size: 12px;
$button-color: #3b759e;
