ul {
  display: flex;
  margin: 0;
  padding: 0;
  height: 80%;
  max-width: 100%;
  flex-flow: column;
  justify-content: space-around;
}

ol {
  margin: 0;
  padding-left: 1em;
}

#question {
  ol {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    flex-flow: column;
    justify-content: center;
  }

  li {
    margin: .5em 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}