#progress {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1rem;
  background: #ccc;

  .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $button-color;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease-out;
  }
}